<footer>
    <style>
        .f-info-socials a{
            margin: 0.5rem;
        }
        .facebook{
            color: blue;
        }
        .instagram{
            color: rgb(241, 59, 4);
        }
        .f-info-links a{
            margin: 0.25rem;
        }
    </style>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61571829495617" class="fa-brands fa-square-facebook facebook"></a>
            <a href="https://www.instagram.com/surendra_kumawat7742?igsh=ZXYwZXhraDhlcTVz" class="fa-brands fa-square-instagram instagram"></a>
            <a href="www.linkedin.com/in/surendra-kumawat-31a545320" class="fa-brands fa-linkedin"></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>